#start-screen {
    height: 40vh;
    opacity: 1;
    transition: opacity 0.5s ease; /* Add transition for opacity */
}

#start-screen.fade-out {
    opacity: 0; /* Make the starting screen transparent when faded out */
}

#Text {
    width: 80vh;
    height: 20vh;
}

#StartButton {
    width: 80vh;
    height: 20vh;
}
